<template name="home">


    <div class="col-sm-12" id="below-navbar">

        <ul class="nav nav-tabs img-rounded" id="hottest-tabs">
            <li role="presentation" class="active"><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Hottest
            </a>
            </li>

            <li role="presentation"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i> Newest </a></li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="glyphicon glyphicon-star"></i> Retailers <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="#">LittleWoods</a></li>
                    <li role="presentation"><a href="#">Argos</a></li>
                    <li role="presentation"><a href="#">ScrewFix</a></li>
                    <li role="presentation"><a href="#">Amazon</a></li>
                    <li role="presentation"><a href="#">Penneys</a></li>
                    <li role="presentation"><a href="#">Tesco</a></li>
                    <li role="presentation"><a href="#">Lidl</a></li>
                    <li role="presentation"><a href="#">Aldi</a></li>
                </ul>
            </li>


        </ul>


        <ul class="nav nav-tabs " id="submit-tabs">
            <!--<li role="presentation"><input type="text" ng-model="search" class="form-control" placeholder="Search"></li>-->
            <li role="presentation"><a href="{{ pathFor 'createdeal' }}"><i class="glyphicon glyphicon-plus-sign"></i>
                Submit </a></li>
        </ul>


    </div>


    <div class="col-lg-9 main-deals">


        <!--<div class="col-lg-12 spotlight-deal">-->

        <!--{{> spotlightDeal}}-->


        <!--</div>-->


        <div class="col-lg-12 nopadding">

            {{> dealList}}

        </div>


    </div>

    <div class="col-lg-3 right-column">

        {{> rightColumn}}


    </div>


    <div class="col-lg-9 ">


    </div>

</template>
