<template name="home">

    <div class="col-sm-12" id="below-navbar">

        <ul class="nav nav-tabs img-rounded" id="hottest-tabs">
            <li role="presentation" class="active"><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Hottest
            </a>
            </li>

            <li role="presentation"><a href="#"><i class="glyphicon glyphicon-arrow-up"></i> Newest </a></li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="glyphicon glyphicon-star"></i> Retailers <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="#">LittleWoods</a></li>
                    <li role="presentation"><a href="#">Argos</a></li>
                    <li role="presentation"><a href="#">ScrewFix</a></li>
                    <li role="presentation"><a href="#">Amazon</a></li>
                    <li role="presentation"><a href="#">Penneys</a></li>
                    <li role="presentation"><a href="#">Tesco</a></li>
                    <li role="presentation"><a href="#">Lidl</a></li>
                    <li role="presentation"><a href="#">Aldi</a></li>
                </ul>
            </li>


        </ul>


        <ul class="nav nav-tabs " id="submit-tabs">
            <!--<li role="presentation"><input type="text" ng-model="search" class="form-control" placeholder="Search"></li>-->
            <li role="presentation"><a href="{{ pathFor 'createdeal' }}"><i class="glyphicon glyphicon-plus-sign"></i>
                Submit </a></li>
        </ul>


    </div>


    <div class="col-lg-9 main-deals">

        <div class="col-lg-12 spotlight-deal">

            {{> spotlightDeal}}


        </div>
        <div class="col-lg-12 nopadding">

            {{> dealList}}

        </div>


        <!--&lt;!&ndash;Deals Array End&ndash;&gt;-->

        <!--&lt;!&ndash;Deals Array Start&ndash;&gt;-->

        <!--<div class="list-group-home-deals">-->

        <!--<div class="spotlight-deal">-->


        <!--</div>-->

        <!--&lt;!&ndash;START OF DEAL LIST&ndash;&gt;-->

        <!--<div dir-paginate="deal in deals|filter:search|itemsPerPage:10" class="list-group-item">-->

        <!--<div class="col-lg-12 no-padding-left">-->

        <!--<div class="col-lg-2 right-box">-->

        <!--<div class="col-md-12 deal-votes">-->

        <!--<h1>{{deal.votes}}</h1>-->

        <!--</div>-->

        <!--<div class="col-md-12 deal-link link-button-home">-->

        <!--&lt;!&ndash;<button class="btn btn-default "><i class="glyphicon glyphicon-thumbs-up"></i> Like</button>&ndash;&gt;-->

        <!--<div class="btn-group-vertical hot-cold-buttons" role="group"-->
        <!--aria-label="Vertical button group">-->

        <!--<button type="button" class="btn btn-danger  vote-up-button"><i-->
        <!--class="glyphicon glyphicon-arrow-up"></i> Hot-->
        <!--</button>-->

        <!--<button type="button" class="btn btn-default"><i-->
        <!--class="glyphicon glyphicon-arrow-down  vote-down-button"></i> Cold-->
        <!--</button>-->

        <!--</div>-->

        <!--</div>-->


        <!--</div>-->

        <!--<div class="col-lg-8 middle-box">-->


        <!--<div class="col-lg-12 middle-title"><h4-->
        <!--data-ng-bind="deal.title +' (&euro;'+  deal.price +' @ '+  deal.retailer+')'"></h4>-->
        <!--</div>-->

        <!--<div class="col-lg-12 middle-product-details home-short-text"><p>{{deal.details}}</p>-->
        <!--</div>-->

        <!--<div class="col-lg-12 middle-post-details">-->

        <!--<div class="col-lg-6 middle-posted-by">Posted By  <span class="username"-->
        <!--data-ng-bind="deal.user.displayName"></span>-->
        <!--</div>-->
        <!--<div class="col-lg-6 middle-time-of-posting">Posted On <span-->
        <!--data-ng-bind="deal.created | date:'mediumDate'"></span></div>-->

        <!--</div>-->


        <!--&lt;!&ndash;<small class="list-group-item-text">&ndash;&gt;-->
        <!--&lt;!&ndash;Posted on&ndash;&gt;-->
        <!--&lt;!&ndash;<span data-ng-bind="deal.created | date:'medium'"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;by&ndash;&gt;-->
        <!--&lt;!&ndash;<span data-ng-bind="deal.user.displayName"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</small>&ndash;&gt;-->


        <!--</div>-->

        <!--<div class="col-lg-2" id="right-box">-->

        <!--<div class="col-md-12 deal-image">-->

        <!--<img src="http://placehold.it/120x120&text=Hello world"/>-->

        <!--</div>-->

        <!--<a data-ng-href="#!/deals/{{deal._id}}" class="col-md-12 deal-link link-button">-->
        <!--<button class="btn btn-success"><i class="glyphicon glyphicon-euro"></i> Save-->
        <!--</button>-->
        <!--</a>-->


        <!--</div>-->

        <!--</div>-->


        <!--</div>-->


        <!--&lt;!&ndash;END OF DEAL LIST&ndash;&gt;-->


        <!--</div>-->

        <!--&lt;!&ndash;Deals Array End&ndash;&gt;-->

        <!--Deals Array End-->


    </div>

    <div class="col-lg-3 right-column">

        {{> rightColumn}}


    </div>


    <div class="col-lg-9 ">


    </div>

</template>
